@model BAITAPLON.Areas.TacGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="tintuc-h2-ct">Chi tiết</h2>

<div>
    <h4 class="tintuc-h4">Tác giả</h4>
    <hr />
    <table class="table">
        <thead>
        <th>@Html.DisplayNameFor(model => model.Ten_Tac_Gia)</th>
        <th> @Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Chucvu)</th>
        <th> @Html.DisplayNameFor(model => model.Avatar)</th>
        <th>@Html.DisplayNameFor(model => model.Username)</th>
        <th>@Html.DisplayNameFor(model => model.Passwork)</th>
        </thead>
        <tr>
            <td> @Html.DisplayFor(model => model.Ten_Tac_Gia)</td>
            <td> @Html.DisplayFor(model => model.Email)</td>
            <td> @Html.DisplayFor(model => model.Chucvu)</td>



            <td>

                <img src="~/Areas/Admin/assets/img/@Model.Avatar" alt="logo" width="100px" height="100px" />
            </td>

            <td>@Html.DisplayFor(model => model.Username)</td>
            <td>  @Html.DisplayFor(model => model.Passwork)</td>
        </tr>
    </table>
  
</div>
<p>
    <h4> <a href="@Url.Action("Index","TacGias")"><img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-back-left-arrows-dreamstale-lineal-dreamstale.png" height="14px" width="15px" /> Quay lại</a></h4>

</p>
